@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/lucabriguglia/DDD-CQRS-ES-Starter-Kit">building Web apps with DDD-CQRS-ES Starter Kit</a>.</p>
</div>
